# Node artifact files
dist/
node_modules/
package-lock.json

# Log files
*.log

# JetBrains IDE
.idea/

# VS Code IDE
.vscode

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Allure Results
allure-results/

# Allure Reports
allure-report/

# logs
logs/
